$color-bg: #fffff5 !default
$color-text: #000 !default
$color-text--light: lighten($color-text, 20%) !default
$color-link: #195880 !default
$color-selection: #4D5460 !default
$dark-theme: false
$light-theme: false
$font-main: "Lora", sans-serif
$font-monospace: "Inconsolata", monospace
$gap-l: 2.5rem
$gap-m: 1rem

body
  margin: $gap-l auto
  max-width: 700px
  background: $color-bg
  color: $color-text
  padding-inline: $gap-m
  font-family: $font-main
  font-weight: 500
  box-sizing: border-box
  &::selection
    color: $color-bg
    background: $color-selection

h1, h2, h3
  font-family: $font-main,
  margin-top: $gap-l
  line-height: 1.2

img
  display: block
  width: 100%
  object-fit: cover
  object-position: center

a
  color: $color-link
  &:hover
    text-decoration: none

pre
  font-family: $font-monospace

.timestamp
  color: $color-text--light
